/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-chip-list {
    .mat-mdc-form-field-flex {
        .mat-mdc-form-field-infix{
            background-color: #fff !important;
        }
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: #fff !important;
    }
}